.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid gray;
  padding: 25px 10px 10px;
  flex-direction: column;
}

img {
  height: 200px;
  max-width: 200px;
}

.name-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style-type: none;
  display: flex;
}
li {
  margin: 0 8px;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-favourites {
  margin: 32px 0;
}
