.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  background-color: white;
  z-index: 1;
  padding: 100px;
  border-radius: 10px;
  display: flex;
}

.modal-bg {
  background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 20%;
}

input {
  margin-right: 12px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid gray;
  outline: none;
}
