/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

button {
  padding: 12px 24px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid gray;
  cursor: pointer;
}
